<div class="container-menu-lateral w-100 h-100 d-flex flex-column justify-content-between place-items-center">
    <div class="container-logo rounded-circle d-flex mt-3">
        <a class="logo m-auto text-decoration-none font-weight-bold" routerLink="/">B</a>
    </div>
    <ul class="d-flex flex-row-reverse mb-0 list-group">
        <li class="list-unstyled option-menu-lateral p-3">
            <a routerLink="/" class="text-decoration-none">Home</a>
        </li>
        <li class="list-unstyled option-menu-lateral p-3">
            <a routerLink="/About" class="text-decoration-none">About</a>
        </li>
        <li class="list-unstyled option-menu-lateral p-3">
            <a routerLink="/Skills" class="text-decoration-none">Skills</a>
        </li>
        <li class="list-unstyled option-menu-lateral p-3">
            <a routerLink="/Work" class="text-decoration-none">Work</a>
        </li>
        <li class="list-unstyled option-menu-lateral p-3">
            <a routerLink="/Services" class="text-decoration-none">Services</a>
        </li>
        <li class="list-unstyled option-menu-lateral p-3">
            <a routerLink="/Contact" class="text-decoration-none">Contact</a>
        </li>
    </ul>
    <div class="container-mode mb-3">
        <img src="../../../../assets/favicon/programmer-icon.svg">
    </div>
</div>
