<app-layout-master>
    <div class="h-100 container-info" [@fadeInOut]>
        <div class="d-grid mx-lg-5 mx-md-5 mx-sm-4 mx-4 h-100 position-relative align-items-center">
            <div class="col d-lg-flex d-md-flex d-sm-flex d-grid position-absolute container-network align-items-center flex-lg-row flex-md-row flex-sm-row flex-column">
                <span class="text-white text-follow-me position-relative">Follow Me</span>
                <div class="container-network-icons d-flex place-items-center flex-lg-row flex-md-row flex-sm-row flex-column">
                    <a href="https://www.linkedin.com/in/brayssen-torrejon-cerna/" target="_blank">
                        <img src="../../../../assets/favicon/linkedin-icon.svg" alt="Linkedin">
                    </a>
                    <a href="https://github.com/Braysen" target="_blank">
                        <img src="../../../../assets/favicon/github-icon.svg" alt="Github">
                    </a>
                    <a href="https://www.instagram.com/brayssen_nolove/" target="_blank">
                        <img src="../../../../assets/favicon/instagram-icon.svg" alt="Instagram">
                    </a>
                </div>
            </div>
            <div class="col">
                <h1 class="text-white text-title fw-bold">Hi, I'am Brayssen</h1>
                <h3 class="text-white text-subtitle mb-3">Full Stack Developer</h3>
                <h6 class="text-white text-description mb-5">High-level experience in web design and development.</h6>
                <a class="text-white text-decoration-none button-info d-inline-flex align-items-center position-relative rounded fw-semibold" routerLink="/About">More About Me</a>
            </div>
            <div class="col container-social-networks position-absolute d-lg-flex d-md-flex d-sm-flex flex-lg-row flex-md-row flex-sm-column d-none">
                <div class="col-4 d-flex place-items-center">
                    <img src="../../../../assets/favicon/facebook-messenger-icon.svg" alt="Messenger" class="m-3">
                    <div>
                        <h3 class="text-white fw-semibold mb-0">Messenger</h3>
                        <span class="text-white">user.brayssen.tc</span>
                    </div>
                </div>
                <div class="col-4 d-flex place-items-center mx-lg-4 mx-md-4 mx-sm-0 mx-0">
                    <img src="../../../../assets/favicon/whatsapp-icon.svg" alt="WhatsApp" class="m-3">
                    <div>
                        <h3 class="text-white fw-semibold mb-0">WhatsApp</h3>
                        <span class="text-white">----------</span>
                    </div>
                </div>
                <div class="col-4 d-flex place-items-center">
                    <img src="../../../../assets/favicon/email-icon.svg" alt="Email" class="m-3">
                    <div>
                        <h3 class="text-white fw-semibold mb-0">Email</h3>
                        <span class="text-white">btorrejoncerna@gmail.com</span>
                    </div>
                </div>
            </div>
            <pre class="ascii position-absolute top-0 bottom-0 overflow-hidden fw-bold" style="right: 0;">          
                  .'   .*'   `*.   `. ; / .'    .*'`-.
                .'   .'         \    \ : /   .*'      `-.
               /    /            ,   ',          -.      `.
              /    /      _.._   :   '.   .-*""*-.    `.   \
             /   .'    .-'    `-.   '/ .'         `-.   \   \
            ,  ,'   .'   .*""*-.\,: ,.-*"*-.        `.       .
              /   .'   .'       `  `        `.        `.
           '     /    /                       `.        \ .   `
          ,     .    /                          \        \ `   ;
          :         ,                            \    :   \ `  :
          ;    .                                  \    .   \ \ |
          | '  :   ,                               .    \   ; ;:
          |:   ;                                      `  \  : ;|
          ||   |  ;                                 .     ; ; ;;
          ;:   |  |                                    `  ; | ||
          L.\  |  |  .d$$s.                    .s$$b..  ; : |.:J
         / __`';  | *'   `*Tb._            _.dP*'   `*  | | :__ \
        ..' .`.:  |         `*Ts'        `sP*'        ; |   '. `,,
        ;  /   ,  ;   .+s**s.   `.           .s**s+.  :_;-.'  \  :
        : ,   /:; :   \ *ss* \    ;         / *ss* /    +: \   . ;
         .`  :  :  ,  .+s$$$s+.            .+s$$$s+.  .* ;  ;  ',
          \   *.   ;*d$P*"$$$T$b  ,+**+,  d$P*"$$$T$b*   .*    /
           \     ; ::$; +:$$$:$$;*      *:$; +:$$$:$$;  :     /
                 :   T$b._$$$d$P          T$b._$$$d$P   ;
             `._.;    `*T$$$P*'            `*T$$$P*'    :._.'
                 |                '                     |
                 ;               :.     ,               :
                 `               `*.__.*'               '
                  .                 ""                 ,
                   \                                  / 
                    \          .+*"*--*"*+.          / 
                     `.       :._.--..--._.;       .';
                       ;.      `.        .'      .'  |
                       : `.      `*----*'      .'    |
                       |   `.                .'      |
                       :     `.            .'        :
            </pre>
        </div>
    </div> 
</app-layout-master>